.bg{
    /* background-color: rgb(17, 15, 18); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover; 
    width:auto;
    background-position:100% 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: absolute;
}