.createuser-container{
    display: inline-flex;
    height: 85vh;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
}
.heading{
    font-weight: 450;
    font-size: medium;
}
.card{
    margin-top: 1%;
}
.navlist{
    margin-top: 20%;
    background-color: transparent;
    box-shadow: none;
}
.navlist div{
    padding-top: 20px;
}
.active{
    color: white;
    background-color: rgb(124, 2, 77);
    border-radius: 50px;
}
.table{
    margin-top: 5%;
    width: 100%;
}
:host /deep/  .mat-form-field-appearance-outline .mat-form-field-infix {
    height: 40px !important;
    padding: .3em 0 .5em 0 !important;
    font-size: 14px !important; 
  }
  :host /deep/ .outline .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
    text-align: left;
    top: -25px !important;
  }
  :host /deep/ .mat-form-field-hide-placeholder .mat-form-field-label-wrapper {
    text-align: left;
    top: -18px !important;
  }
  .outline,.full-width{
      width: 100%;}