:host /deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:  rgb(124, 2, 77) !important;

    /* width: 2px; */
  }
  :host /deep/ .mat-ink-bar {
    position: absolute;
    bottom: 0;
    height: 2.5px !important;
    transition: .5s cubic-bezier(.35,0,.25,1);
    ;
  }

  :host /deep/ .mat-tab-label {
    height: 38px !important;
  }

  :host /deep/ .mat-tab-label, .mat-tab-link {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500 !important;
    color: black !important;
  }


.fixed-plugin {
  position: fixed;
  top: 200px;

}


