<!-- Navbar -->
<toolbar></toolbar>
<!-- Navbar -->
  
  <!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('assets/dashboardBanner.png'); background-repeat: no-repeat; background-size: cover;">
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4" style="margin-top: 15%;color: white;">
                <strong>Global Performance Assurance Center</strong>
              </h1>
       
              <p class="mb-4 d-none d-md-block white">
                <span>A Centralized Portal To Manage All Your Performance Testing Issues And Reports</span>
              </p>
            </div>
            <!-- Content -->
          </div>
        </div>
      </div>
      <!--/First slide-->
    </div>
    <!--/.Slides-->
  </div>
  <!--/.Carousel Wrapper-->
  

  <!--Main layout-->
  <main>
    <div class="container">
        <!--Grid row-->
        <div class="row" >
  
          <!--Grid column-->
         <div class="col-md-12" style="margin-top: 5%;">
          <mat-card>
            <div class="row" >
              <div class="col-md-6" >
                <mat-card-header style="display:flex;float:right;margin-top: 1%;">
                  <mat-card-title>
                   <a class="btn btn-lg" routerLink='/Portal/getstarted'><h4 class="my-2">&nbsp;&nbsp;Get Started&nbsp;<mat-icon >directions_run</mat-icon>&nbsp;</h4></a>
                  </mat-card-title>
                </mat-card-header>
              </div>
              <div class="col-md-6">
                <mat-card-content>
                  <p>
                    Click get started to view the registered projects,their status.<br>View, edit and submit the RFI answers. <br>Also view and edit the project-specific details.
                  </p>
                </mat-card-content>
              </div>
            </div>
          </mat-card>
         </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      <hr class="my-5">
  
      <section>
        <h3 class="my-5 h4 text-center">...and even more</h3>
        <div class="row features-small mt-5 wow fadeIn">
          <!--Grid column-->
          
          <div class="col-md-6 column">
            <div class="flip-card columnCard1"   >
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/performanceTesting.png" alt="Avatar" style="width:300px;height:250px;">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top: 25%;"><a>Generate Reports</a></h3> 
                  <p>Generate PDF reports for Performance Testing</p> 
                  <!-- <p>We love that guy</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 column">
            <div class="flip-card columnCard2" >
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/reports.jpg" alt="Avatar" style="width:300px;height:250px;">
                </div>
                <div class="flip-card-back">
                  <h3 style="margin-top: 25%;">View Reports</h3> 
                  <p>Upload & view Performance Assessment Reports</p> 
                </div>
              </div>
            </div>
            </div>
          <!--/Grid column-->
        </div>
      </section>
    </div><br><br>
  </main>
  <!--Main layout-->
  
  <!--Footer-->
  <footer class="page-footer text-center font-small wow fadeIn">
  
    <!--Call to action-->
    <div class="pt-3">
     <p class="white"> Want To Perform Security Testing? Visit
      <a  href="https://mdbootstrap.com/getting-started/" target="_blank" >GSAC</a>
    </p><br>
    </div>
 
  </footer>
  <!--/.Footer-->
  